/* font size */
@media only screen and (min-width: 1025px) {

 #main-navigation {
 background: rgba(101, 89, 60, 0.9);
 width:15%;
 }

}

#main-navigation {
 background: rgba(101, 89, 60, 0.9)
     }

@media only screen and (max-width: 640px) {
  body {
      font-size: 16px;
  }

  h1 {
      font-size: 28px;
  }

  h2 {
      font-size: 24px;
  }

  h3 {
      font-size: 20px;
  }

  blockquote {
      font-size: 16px !important;
  }

}



/* home page styling*/

.link {
  color: inherit;
}

.Homepage-Photo{
  position: center;
  width: 100%
}
.logo-nav{
width: 70px;
}

.navbar-brand{
  font-family: Ubuntu;
  font-size: 50.4px;
  fonts-style: bold;

}

.Models-Photo{
  position: center;
  width: 100%
}
.link:hover{
  color: #a6a6a4;
}

p1{
  font-size: 20.4px;
}

p2{
  font-size: 18.8;
}

h1{
  font-family: "Ubuntu";
  text-decoration-color: Black;
  line-height: 1.5;
}
h2{
  font-family: "Ubuntu";
  text-decoration-color: Black;

  line-height: 1.5;
}
.centered {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -40%);
}

.HomeTop-container {
  position: Relative;
  padding: 6% 5% 3%;
  text-align: center;

}
.intro{
  position: Relative;
  padding: 0.5% 8%;
  text-align: center;

}

.MidTop-container {
  background-color: #f6f5f5;
  position: Relative;
  padding: 3% 5% 3%;
  text-align: center;
  }

  .bodylogo{
    position: center;
    width: 50%

  }
  .col-lg-4{
    padding: 0% 0% 3%

  }
  .container1{
    position: Relative;
    text-align: center;
    padding: 4% 12%
  }
  .text-style{
    position: Relative;
    text-align: left;
  }

  a:hover, a:active {
  text-decoration: #e7dec8;
  }
  .Bottom-container{
    background-color: #2d4059;
    position: Relative;
    padding: 3% 5% 3%;
    text-align: center;
    color: #e8e8e8;
  }

  .Footer-container {
    background-color: Black;
    position: Relative;
    padding: 3% 3% 3%;
    text-align: center;
    color: #e8e8e8;
  }
.Contact-logo{
width: 20px;
}

/* battery */
.Homepage-Photo1{
  position: center;
  width: 60%
}


/* our stories */

.mid-container {
  background-color: Black;
  position: Relative;
  padding: 3% 3% 3%;
  color: #FFFFFF;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #373a40;
  min-width: 210px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #a6a6a4;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #41444b;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #393e46;}
